html,
body {
  background-color: #000000;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiDropzoneArea-root {
  display: flex;
  align-items: center;
  justify-content: center;
  direction: column;
  border: 1px solid #000;
  border-radius: 32px;
}

.sigCanvas {
  border: 2px solid black;
  border-radius: 32px;
  width: 100%;
  height: 250px;
}
